.home-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

.home-info-container p {
    font-size: 40px;
    color: rgb(206, 206, 206);
}

.home-info-container h1 {
    font-size: 100px;
}
.info p, h1{
    padding: 0;
    margin: 0;
}
.button-contact {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s;
}

.button-contact:hover {
    background-color: #800000;
}

.foto img {
    height: 680px;
    filter: drop-shadow(0 0 30px red);
}

/* Responsive */
@media (max-width: 769px) {
    .home-info-container {
        margin: 0;
        flex-direction: column-reverse;
    }

    .home-info-container p {
        font-size: 20px;
    }

    .home-info-container h1 {
        font-size: 50px;
    }

    .foto img {
        height: 280px;
    }

    .button-contact {
        font-size: 15px;
        margin-bottom: 1rem;
    }
}
