body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    background: #000000;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permite scroll vertical cuando sea necesario */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    border: 15px solid transparent;
}

/* Scrollbar personalizado */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #7a3d3d;
    border-radius: 10px;
}
footer{
    color: rgb(43, 43, 43);
    text-align: center;
    bottom: 0;
}
/* Media Query */
@media (max-width: 769px) {
    body {
        justify-content: space-between;
    }
}
